// ----------------------------- Breakpoints -----------------------------
$small-devices-breakpoint: 576px !default;
$medium-devices-breakpoint: 768px !default;
$large-devices-breakpoint: 992px !default;
$extra-large-devices-breakpoint: 1224px !default;
$full-hd-devices-breakpoint: 1824px !default;

// ----------------------------- Fonts -----------------------------
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// ----------------------------- Colors -----------------------------

// ----------------------------- Strings -----------------------------
